[Unit]
Description=ALEX NEXUS OS Automatic Git Updater
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/opt/alex/AlexRoom-0.2.0-hardware-rc/.venv/bin/python /opt/alex/AlexRoom-0.2.0-hardware-rc/deploy/alex-auto-update.py
# Needs root privileges to restart alex-core.service, but the python script
# will preserve correct ownership of source files using chown.
User=root
Group=root

# Add protection
NoNewPrivileges=true
PrivateTmp=true
